<% include ../partials/boilerplate %>
<div class = 'singlepagemain'>
  <div class = 'blocksingle'>
<h1 class = 'singleartist'><%= singleData.artist %></h1>
<h2 class = 'singletrack'><%= singleData.track %></h2>
<h3 class = 'singlealbum'><%= singleData.album %></h2>
<h3 class = 'singlegenre'><%= singleData.genre_id %></h3>
  </div>
</div>

<% include ../partials/end %>